body{
    background-image:url(back2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
}
 #head{
    color:darkblue ;
    text-align: center;
    font-family:'Dancing Script', cursive;
 }
 .label{
    font-size: 1.5vw;
    font-family: 'Balsamiq Sans', cursive;
    
 }
#menu{
     font-size: 2vw;
     font-family: 'Balsamiq Sans', cursive;
     margin-bottom: 0%;
} 
#a{
    color: blue;
}
#a:hover{
     color:darkcyan;
 }
#a:active{
     color: green;
 }
